@import './variable';

.frame-ability {
    position: relative;

    .frame-box-ability {
        background-color: $title-text;
        color: white;
        cursor: pointer;
        position: relative;
    }

    .frame-box-ability:hover {
        box-shadow: 0px 0px 7px 2px $title-text;
        transform: scale(1.01);
        font-weight: bold;
    }

    .frame-box-ability:active {
        font-weight: normal;
        background-color: $text-color;
        color: $title-text;
    }

    .frame-detail-ability {
        position: absolute;
        bottom: 105%;
        background-color: $title-text;
    }
}