@import url('./_animation.scss');

.common {
    color: white;
}

.rare {
    color: green;
}

.epic {
    color: purple;
}

.legend {
    color: rgb(255, 186, 39);
}



.frame-gacha-pokemon {
    cursor: pointer;
}

.modal-gacha {
    .modal-content {
        border: 0;
        background-color: rgba(255, 255, 255, 0) !important;

        .modal-gacha-header {
            .btn-close {
                background-color: white !important;
            }
        }

        .modal-gacha-body {
            .frame-pokemon-gacha {
                &::-webkit-scrollbar {
                    background-color: rgb(18, 17, 17);
                    width: 10px;
                }

                &::-webkit-scrollbar-track {
                    background-color: rgb(34, 33, 33);
                }

                &::-webkit-scrollbar-thumb {
                    background-color: rgb(20, 20, 20);
                    border-radius: 30px;
                }

                .info-pokemon-gacha {
                    z-index: 11;
                }
            }
        }
    }
}