@import url('./_animation.scss');

.btn-style {
    clip-path: polygon(0% 0%, 87.06% 0%, 100% 40.92%, 100% 100%, 0% 100%);
    position: relative;
    // overflow: hidden;
    min-width: 135px;
    height: 40px;

    .text {
        position: relative;
        transition: 0.5s;
    }
}

.btn-style::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 130%;
    height: 55px;
    background: linear-gradient(180deg, rgba(0, 127, 157, 1) 0%, rgba(0, 207, 255, 1) 52%, rgba(0, 97, 120, 1) 100%);
    transform: translate(-110%, 0) skew(-30deg);
    transition: 0.5s;
}

.btn-style:hover .text {
    color: #fff;
}

.btn-style:hover::before {
    transform: translate(-5%, 0) skew(-15deg);
}

.frame-home-page {
    .home-page {
        .img-home-page {
            filter: drop-shadow(1px 1px 5px rgb(255, 169, 78)) drop-shadow(-1px -1px 5px rgb(255, 169, 78));
        }
    }

    .frame-gacha-home-page {
        background-image: url('../img/bggacha-homepage.jpg');
        background-size: cover;
        background-position: center;
        position: relative;
        overflow: hidden;

        .frame-content-gacha-homepage {
            position: relative;

            .gacha-ball-homepage {
                img {
                    filter: drop-shadow(1px 1px 5px rgb(255, 255, 255)) drop-shadow(-1px -1px 5px rgb(255, 255, 255));
                    animation: jump 2s infinite;
                }
            }
        }

    }

    .frame-gacha-home-page::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.712);
    }

    .frame-compare-homepage {
        background-image: url('../img/bg-compare-homepage.jpg');
        background-size: cover;
        position: relative;

        .row {
            position: relative;
        }
    }

    .frame-compare-homepage::before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.823);
    }
}