@import './variable';

.frame-name-pokemon {
    clip-path: polygon(0% 50%, 7% 0%, 93% 0%, 100% 50%, 93% 100%, 7% 100%);
    background-color: #a4a4a4;

    .id-pokemon {
        color: $text-color;
    }
}