.frame-line-stats{
    height: 10px;
    background-color: grey;
    border-radius: 5px;
    overflow: hidden;
    .line-stats{
        border-radius: 5px;
        background-color: red;
        width: 30%;
        height: 100%;
    }
}