@import './variable';

.frame-list-pokemon {
    .list-pokemon {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 10px;
        background-color: white;

        .frame-card-pokemon {
            max-width: 400px;
            min-width: 200px;
            min-height: 300px;
            cursor: pointer;
            overflow: hidden;
        }

        .frame-card-pokemon:hover {
            box-shadow: 0px 0px 7px black;
        }
    }
}