@import 'variable';
@import 'animation';

//màn full screen
.navbar-frame .offcanvas-body::-webkit-scrollbar {
    width: 10px;
}

.navbar-frame .offcanvas-body::-webkit-scrollbar-track {
    background-color: $color-dark;
}

.offcanvas-body::-webkit-scrollbar-thumb {
    background-color: $color-dark-1;
    border-radius: 10px;
}

.offcanvas-body::-webkit-scrollbar-thumb:hover {
    background-color: $color-dark-2;
}

.navbar-frame {
    height: 60px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 99;

    .logo-frame {
        img {
            object-fit: cover;
            max-height: 50px;

        }
    }

    .func-frame {
        .offcanvas {
            color: $title-text;

            .offcanvas-header {
                img {
                    object-fit: cover;
                    max-height: 50px;

                }
            }
        }

        button {
            color: $title-text !important;
        }

        button:hover {
            color: $title-text-hover !important;
        }
    }
}

@media (min-width:768px) {
    .offcanvas-backdrop {
        display: none;
    }
}